.outer{
    width:100%;
    text-align: left;
    padding-bottom: 10px;
    padding-top: 20px;
    padding-left: 20%;
    margin-right: 30px;
}

.inner{
    display: inline-block;
    padding-left: 20%;
}

th {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 10px;
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 20%;
    margin-bottom: 10px;
    margin-left: 20%;
    margin-right: 20px;
}

#app {
    border: 5px solid black;
    margin: 0 auto;
    display: block;
    padding-left: 5px;
    margin-right: 40%;
}

#chat {
    border: 5px solid brown;
    margin: 0 auto;
    display: block;
    margin-top: 2%;
    margin-right: 40%;
}

.labelName {
    width:100%;
    text-align: left;
    margin-top: 10px;
    margin-left: 10px;
    padding-bottom: 10px;
}

.thLabel {
    width: 20%;
}

.inputValue {
    width:100%;
    text-align: left;
    margin-top: 10px;
    margin-left: 10px;
    padding-bottom: 10px;
}

.container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
  }

.darker {
    border-color: #ccc;
    background-color: #ddd;
}

.time-right {
    float: right;
    color: #aaa;
}

.time-left {
    float: left;
    color: #999;
}

/* Clear floats */
.container::after {
    content: "";
    clear: both;
    display: table;
}

#chat-box
{
    width: 400px;
    height: 450px;
    background-color: #fff;
    border-radius: 10px;
    scroll-behavior: auto;
    position: relative;
}

.scroll{
    overflow: auto;
	overflow-y: scroll;
	scroll-behavior: smooth;
	height: 325px;
    display: flex;
    flex-direction: column;
}